<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.only5c.unsplash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ProfileActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activities.SearchActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activities.ImageViewActivity"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ad41c2afb37b8c917fbdf8f75a20b533268ea1d1" />

    </application>

</manifest>
